.page-footer {
    .container-fluid();
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.page-footer__vk,
.page-footer__email,
.page-footer__phone {
    text-decoration: none;
    color: white;
}

@media @tablet-widths {
    .page-footer {
        font-size: 18px;
        padding-top: 20px;
    }
}

